@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: radial-gradient(
    circle,
    rgba(71, 2, 56, 1) 10%,
    rgba(17, 1, 30, 1) 80%,
    rgba(17, 1, 30, 1) 1000%
  );
  /* background-image: radial-gradient( circle,#511281 0%,#11011E 100%); */
  color: white;
  font-family: 'Raleway', sans-serif;
}
.container {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 10px;
}
.name1 {
  font-size: 40px;
}

.list {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-size: 20px;
}
.btn {
  display: flex;
  height: 40px;
  width: 60px;
  margin: 10px;
  justify-content: center;
}
.login {
  color: white;
  background-color: #0fae96;
  border-radius: 5px;
  padding: 8px;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main>h1{
  font-weight: 700;
}
.main>p{
  line-height: 28px;
  font-size: 18px;
  width: 40vw;
}
.start {
  color: white;
  background-color: #0fae96;
  border-radius: 5px;
  padding: 10px;
}
.pricebox {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 6px;
gap: 10px;
}
.hr{
  width: 100%;
}
.trends-item{
  
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 18px;
  gap: 17px;
}
.box {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.8;
}
.head {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 10px;
  gap: 5px;
}
.currency-name{
  background-color: #808080;
  padding: 5px;
  display: inline;
  height: auto;
}
.allfeatures{
  border: 2px solid white;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  margin: 10px;
  padding: 10px;
  align-items: center;
}
.featureBox{
  margin: 15px;
  padding: 10px;
  
}
.featurebox1{
  border: 3px solid white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  opacity: 0.8;

}
.featurebox2{
  border: 3px solid white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  opacity: 0.8;

}
.featurebox3{
  border: 3px solid white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  opacity: 0.8;

}
.featurebox4{
  border: 3px solid white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  opacity: 0.8;

}
.ficon1{
  background-color: #0fae96;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  text-align: center;
}
.ficon2{
  background-color: #0fae96;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  text-align: center;
}
.ficon3{
  background-color: #0fae96;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  text-align: center;
}
.ficon4{
  background-color: #0fae96;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  text-align: center;
}
