body {
  background-image: radial-gradient(
    circle,
    rgba(71, 2, 56, 1) 10%,
    rgba(17, 1, 30, 1) 70%,
    rgba(17, 1, 30, 1) 100%
  );
  /* background-image: radial-gradient( circle,#511281 0%,#11011E 100%); */
  color: white;
}
.container {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 10px;
  
}
.name1 {
  font-size: 40px;
}


.list {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-size: 20px;
  
}
.btn{
    display: flex;
    height: 40px;
    width: 60px;
    margin: 10px;
    justify-content:center;
    
}
.login{
    color: white;
    background-color: #0fae96;
    border-radius: 5px;
    padding: 8px;
    

}
.main{
    margin: 50px;
    padding: 20px;
    text-align: center;
   
}
.start{
    color: white;
    background-color: #0fae96;
    border-radius: 5px;
    padding: 10px;
}
